.vuepress-blog-theme-content
  min-width 91%

.content-wrapper
  min-width 70%

.sticker.vuepress-toc
  top 3rem
  left 3rem

//.sticker.vuepress-toc
//  position fixed
//  display none
//  max-height 100vh
//  max-width 220px
//  overflow-y auto
//  padding-top $navbarHeight
//  top 0
//  right 10px
//  box-sizing border-box
